
html, body {
	height: 100%;
	width: 100%;	
	background-image: url('../img/bk-freeze-ga.jpg');
	padding: 0;
	margin:0;
}

body {
	overflow-y: hidden;
	-webkit-user-select:none;
}

.index-main, .password-main {
	padding: 1em;
}

.titulo-valor {
	font-family: 'Chewy', cursive;
}

.img-icons {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-porco {
	position: absolute;
	top: -30px;
	right: -50px;
}

.msg-thanks {
	margin-top: -15px;
	align-items: center;
	color: #fff;
	display: flex;
	font-family: 'Chewy', cursive;
	justify-content: center;
	text-align: center;
}

.dados-de-compra {
	height: 100%;
	background-color: #fff;
}

.btn-enviar-valor {
	width: 100%;
	background-color: #ffbc1a;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}



